.Header-wrapper {
    background-color: #00568F;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.Header-wrapper > ul {
    list-style: none;
    display: flex;
}

.Header-wrapper > ul > li {
    padding: 10px;
    color: white;
}
.Header-wrapper > ul > li:hover {
    color: yellow;
}

.Header-wrapper > h3 {
    color: white;
}