.Header-wrapper {
    background-color: #00568F;
    display: flex;
    justify-content: space-around;
}

.Header-wrapper > ul {
    list-style: none;
    display: flex;
}

.Header-wrapper > ul > li {
    padding: 1.2rem;
    color: white;
}
.Header-wrapper > ul > li:hover {
    color: yellow;
}

.Header-wrapper > h3 {
    color: white;
}

.Logo {
    height: 35px;
}

.Image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Phone-wrapper {
    display: flex;
    align-items: center;
    color: white;
}

.Phone-wrapper > h3 {
    padding-left: 0.6rem;
    padding-right: 1rem;
}
.Phone-wrapper:hover {
    color: yellow;
}
